<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'portfolio/images/favicon.svg' %}">
    <title>Tornike Berekashvili</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <script type="text/javascript" src="{% static 'portfolio/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'portfolio/app.js' %}"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <div class="loader-wrap">
        <div class="loader" id="loadCont">
            <img src="{% static 'portfolio/images/logo.svg' %}" class="loader-logo" alt="logo" id="loaderLogo">
        </div>
    </div>

    <div class="main-wrap" id="home">
        <header class="main-header" id="navbar">
            <nav class="main-nav">
                <div class="logo-wrap">
                    <a href="#home" class="logo-link">
                        <img src="{% static 'portfolio/images/logo.svg' %}" class="logo" alt="logo">
                    </a>
                </div>
                <div class="links-wrap">
                    <ul class="links-ul">
                        <li class="links-li">
                            <a href="#about" class="links-link">
                                About
                            </a>
                        </li>
                        <li class="links-li">
                            <a href="#projects" class="links-link">
                                Projects
                            </a>
                        </li>
                        <li class="links-li">
                            <a href="#contact-me" class="links-link">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <div class="resume-btn-wrap">
                        <a href="{% url 'resume' %}" class="resume-btn" target="_blank">
                            Resume
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content" id="contWrap">
            <main class="main-sections-wrap">
                <section class="landing-wrap">
                    <div class="my-name-wrap">
                        <h1 class="my-name-main">Tornike Berekashvili.</h1>
                        <h2 class="my-status-main">Junior Web Developer.</h2>
                    </div>
                    <div class="landing-me-text-wrap">
                        <p class="landing-me-text">
                            Hi, my name is Tornike Berekashvili . I am junior full-stack web developer.
                        </p>
                    </div>
                    <div class="landing-me-contact-btn-wrap">
                        <a href="#" class="landing-me-contact-btn" id="#home">
                            CONTACT ME
                        </a>
                    </div>
                </section>

                <section class="about-wrap" id="about">
                    <div class="main-section-title-cont">
                        <h1 class="main-section-title">About me</h1>
                        <div class="main-line"></div>
                    </div>
                    <div class="main-section-text-cont">
                        <p class="main-section-text">
                            Hello, i'm Tornike, From <span style="color: aqua;">Georgia, Tbilisi</span>. currecntly studying at <span style="color: aqua;">BTU</span>, specializing in Information Technology. I started learning web development 6 months ago and continue to this day.
                            I enjoy all the processes and technologies involved in web development.
                        </p>
                        <p class="main-section-text" style="padding-top: 10px;">
                            Here are technologies I am familiar with :
                        </p>
                        <div class="tech-list-cont">
                            <ul class="tech-list-ul">
                                <li class="tech-list-li">
                                    <p class="tech-list">Python</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">Django</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">Flask</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">JavaScript</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">HTML & CSS</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">Bootstrap</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">Laravel</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">SQL</p>
                                </li>
                                <li class="tech-list-li">
                                    <p class="tech-list">Git</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="projects-wrap" id="projects">
                    <div class="main-section-title-cont">
                        <h1 class="main-section-title projects">Personal projects</h1>
                        <div class="main-line"></div>
                    </div>
                    <div class="project">
                        <div class="project-info-wrap">
                            <div class="project-description-wrap">
                                <div class="project-title-wrap">
                                    <p class="project-head">Project</p>
                                    <h2 class="project-title">Online Dictionary</h2>
                                </div>
                                <div class="project-text-wrap">
                                    <p>An Online Dictionary , where users can create dictionary, write automaticly generated quizes based on their dictionary and manage their progress .</p>
                                </div>
                                <div class="project-techs-wrap">
                                    <h4 class="project-techs-title">Technologies :</h4>
                                    <ul class="project-techs-ul">
                                        <li class="project-techs-li">
                                            <p class="project-tech">Django</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">JavaScript</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">ZingCharts</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">SQLite</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="project-links-wrap">
                                    <a href="https://github.com/berekashvili22/DjangoDictionary" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                    </a>
    
                                    <a href="http://djangodictionary.pythonanywhere.com/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="project-picture-wrap">
                                <img src="{% static 'portfolio/images/projects/dict-screen.png' %}" class="dictionary-picture" alt="dictionary picture">
                            </div>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-info-wrap">
                            <div class="project-picture-wrap">
                                <img src="{% static 'portfolio/images/projects/pass-manager-screen.png' %}" class="dictionary-picture" alt="dictionary picture">
                            </div>
                            <div class="project-description-wrap">
                                <div class="project-title-wrap">
                                    <p class="project-head">Project</p>
                                    <h2 class="project-title">Password Manager</h2>
                                </div>
                                <div class="project-text-wrap">
                                    <p>Users can add and manage their account information on website , also generate customizable strong passwords .</p>
                                </div>
                                <div class="project-techs-wrap">
                                    <h4 class="project-techs-title">Technologies :</h4>
                                    <ul class="project-techs-ul">
                                        <li class="project-techs-li">
                                            <p class="project-tech">Flask</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">JavaScript</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">SQLite</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="project-links-wrap">
                                    <a href="https://github.com/berekashvili22/DjangoDictionary" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                    </a>
    
                                    <a href="http://djangodictionary.pythonanywhere.com/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-info-wrap">
                            <div class="project-description-wrap">
                                <div class="project-title-wrap">
                                    <p class="project-head">Project</p>
                                    <h2 class="project-title">Myauto Clone</h2>
                                </div>
                                <div class="project-text-wrap">
                                    <p>www.myauto.ge clone</p>
                                </div>
                                <div class="project-techs-wrap">
                                    <h4 class="project-techs-title">Technologies :</h4>
                                    <ul class="project-techs-ul">
                                        <li class="project-techs-li">
                                            <p class="project-tech">Laravel</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">JavaScript</p>
                                        </li>
                                        <li class="project-techs-li">
                                            <p class="project-tech">MySQL</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="project-links-wrap">
                                    <a href="https://github.com/berekashvili22/DjangoDictionary" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                    </a>
    
                                    <a href="http://djangodictionary.pythonanywhere.com/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="project-links"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="project-picture-wrap">
                                <img src="{% static 'portfolio/images/projects/myauto-screen.png' %}" class="dictionary-picture" alt="dictionary picture">
                            </div>
                        </div>
                    </div>


                </section>

                <section class="contact-wrap">
                    <div class="main-section-title-cont">
                        <h1 class="main-section-title">Contact me</h1>
                        <div class="main-line"></div>
                    </div>
                    <div class="contact-info-wrap" id="contact-me">
                        <p class="contact-info">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="contact-icons">
                       <g>
                           <g>
                               <path d="M467,76H45C20.137,76,0,96.262,0,121v270c0,24.885,20.285,45,45,45h422c24.655,0,45-20.03,45-45V121
                                   C512,96.306,491.943,76,467,76z M460.698,106c-9.194,9.145-167.415,166.533-172.878,171.967c-8.5,8.5-19.8,13.18-31.82,13.18
                                   s-23.32-4.681-31.848-13.208C220.478,274.284,64.003,118.634,51.302,106H460.698z M30,384.894V127.125L159.638,256.08L30,384.894z
                                    M51.321,406l129.587-128.763l22.059,21.943c14.166,14.166,33,21.967,53.033,21.967c20.033,0,38.867-7.801,53.005-21.939
                                   l22.087-21.971L460.679,406H51.321z M482,384.894L352.362,256.08L482,127.125V384.894z"/>
                           </g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                            </svg> tornike.berekashvili@pm.me</p>
                       <p class="contact-info">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 27.442 27.442" style="enable-background:new 0 0 27.442 27.442;" xml:space="preserve" class="contact-icons">
                        <g>
                            <path d="M19.494,0H7.948C6.843,0,5.951,0.896,5.951,1.999v23.446c0,1.102,0.892,1.997,1.997,1.997h11.546
                                c1.103,0,1.997-0.895,1.997-1.997V1.999C21.491,0.896,20.597,0,19.494,0z M10.872,1.214h5.7c0.144,0,0.261,0.215,0.261,0.481
                                s-0.117,0.482-0.261,0.482h-5.7c-0.145,0-0.26-0.216-0.26-0.482C10.612,1.429,10.727,1.214,10.872,1.214z M13.722,25.469
                                c-0.703,0-1.275-0.572-1.275-1.276s0.572-1.274,1.275-1.274c0.701,0,1.273,0.57,1.273,1.274S14.423,25.469,13.722,25.469z
                                M19.995,21.1H7.448V3.373h12.547V21.1z"/>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                            </svg>+955-574-22-13-93</p>
                    </div>
                </section>

            </main>
        </div>
        <div class="left-fixed-social-wrap">
            <ul class="social-ul">
                <li class="social-li">
                    <a href="https://github.com/berekashvili22" class="social-link" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-links-img github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                    </a>
                </li>
                <li class="social-li">
                    <a href="https://twitter.com/berekashvili_" class="social-link" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-links-img"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                    </a>
                </li>
                <li class="social-li">
                    <a href="https://www.linkedin.com/in/tornike-berekashvili-3953091ab/" class="social-link" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-links-img linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <svg width="199" height="354" viewBox="0 0 199 354" fill="none" xmlns="http://www.w3.org/2000/svg" class="plant">
        <g id="undraw_responsive_6c8s 1">
        <g id="plant">
        <path id="Vector" opacity="0.6" d="M100.465 225.029C100.465 225.029 81.4653 142.029 123.465 35.0289" stroke="#4D3EBE" stroke-width="3" stroke-miterlimit="10"/>
        <path id="Vector_2" d="M102.615 107.389C102.615 107.389 107.965 79.5289 163.965 67.5289C163.965 67.5289 146.105 125.149 100.035 122.839L102.615 107.389Z" fill="#C664E9"/>
        <path id="Vector_3" d="M121.355 40.5289C121.355 40.5289 135.965 14.5289 170.965 22.5289C170.965 22.5289 142.035 71.7889 115.965 55.6589L121.355 40.5289Z" fill="#D78CF8"/>
        <path id="Vector_4" d="M112.095 68.1189C112.095 68.1189 110.965 41.5289 81.9653 34.5289C81.9653 34.5289 84.9653 92.5289 107.965 83.0289L112.095 68.1189Z" fill="#C664E9"/>
        <path id="Vector_5" opacity="0.3" d="M116.465 56.0289C116.465 56.0289 154.465 27.0289 170.465 22.0289" stroke="#535461" stroke-miterlimit="10"/>
        <path id="Vector_6" d="M98.0753 138.659C98.0753 138.659 103.965 109.529 68.9653 82.5289C68.9653 82.5289 30.9653 147.199 96.4453 159.359L98.0753 138.659Z" fill="#D78CF8"/>
        <path id="Vector_7" d="M97.0253 178.699C97.0253 178.699 92.9653 137.529 136.965 129.529C136.965 129.529 120.895 187.019 96.9653 197.269L97.0253 178.699Z" fill="#C664E9"/>
        <path id="Vector_8" opacity="0.3" d="M99.9653 122.529C99.9653 122.529 145.965 73.5289 163.965 67.5289" stroke="#535461" stroke-miterlimit="10"/>
        <path id="Vector_9" opacity="0.3" d="M68.9653 82.5289C68.9653 82.5289 83.9653 150.529 95.9653 159.529" stroke="#535461" stroke-miterlimit="10"/>
        <path id="Vector_10" opacity="0.3" d="M96.9653 197.529C96.9653 197.529 120.965 131.529 136.965 129.529" stroke="#535461" stroke-miterlimit="10"/>
        <path id="Vector_11" opacity="0.3" d="M81.9653 34.5289C81.9653 34.5289 109.965 72.5289 107.965 82.5289" stroke="#535461" stroke-miterlimit="10"/>
        </g>
        <g id="mid">
        <rect id="Rectangle 1" x="58.0443" y="225.029" width="89.524" height="15" rx="6" transform="rotate(0.169342 58.0443 225.029)" fill="#E851CA"/>
        </g>
        <g id="plot">
        <path id="Vector_12" d="M62.8756 240.293H142.047C142.047 240.293 157.666 277.293 133.43 332.293H70.9543C70.9543 332.293 48.3338 294.293 62.8756 240.293Z" fill="#472C8F"/>
        </g>
        </g>
    </svg>
        
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        navbar = document.getElementById("navbar")
        if (prevScrollpos > currentScrollPos) {
            navbar.style.top = "0";
            navbar.classList.add('shadow');
        } else {
            navbar.style.top = "-9.2vh";
            navbar.classList.remove('shadow');
        }
        prevScrollpos = currentScrollPos;
        }
    </script>
</body>
</html>